<!DOCTYPE html>
<html>
<head>
  <title>Gistlet</title>
  <meta name=”description” content=”Create bookmarklets from gist.github.com gists”>
  <meta name=”keywords” content=”gist bookmarklet”>
  <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/3.0.2/css/font-awesome.css">
  <style type="text/css">
    body {
      color: #333;
      font-family: "Helvetica", sans-serif
    }

    a {
      color: #4183c4;
      text-decoration: none;
    }
    .main {
      width: 400px;
      margin: 0 auto;
      margin-top: 100px;
      text-align: center;
    }

    .hint {
      color: #AAA;
      font-size: 80%;
    }

    .button {
      color: #333;
      text-decoration: none;
      font-weight: bold;
      text-shadow: 0 1px 0 rgba(255,255,255,0.9);
      border-radius: 3px;
      border: 1px solid #ddd;
      border-bottom-color: #c5c5c5;
      box-shadow: 0 1px 3px rgba(0,0,0,0.075);
      vertical-align: middle;
      background-color: #eaeaea;
      background-image: -moz-linear-gradient(#fafafa, #eaeaea);
      background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
      background-image: linear-gradient(#fafafa, #eaeaea);
      background-repeat: repeat-x;
    }

    #bookmarklet-btn {
      display: inline-block;
      padding: 14px 38px;
      font-size: 18px;
    }
    #bookmarklet-btn:hover {
      cursor: move;
    }
    #bookmarklet-btn.error {
      color: #e33;
    }

    .icon-bookmark {
      margin-right: 5px;
    }

    #description {
      margin-top: 80px;
      margin-bottom: 80px;
      line-height: 1.2;
    }

    #info {
      margin: 80px 0 15px 0;
      font-size: 20px;
    }
    #info img {
      border-radius: 3px;
      vertical-align: middle;
      margin-right: 8px;
      position: relative;
      top: -1px;
    }

    input {
      width: 100%;
      padding: 9px;
      font-size: 16px;
      border-radius: 5px;
      outline: none;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
      box-sizing: border-box;
    }

  </style>
</head>
<body>

  <section class="main">

    <div class="intro">
      <h1>Gistlet</h1>
      <p>Create bookmarklets from a gist.</p>
      <form id="get-gistlet-form" method="get">
        <input type="text" name="gist" placeholder="Gist ID">
        <input type="submit" value="Get Gistlet" class="button">
      </form>
    </div>


    <div class="bookmarklet">
      <a id="bookmarklet-btn" class="button">
        <span class="icon-bookmark"></span>
        <span class="label"></span>
      </a>
      <p class="hint"></p>
      <p id="description"></p>
      <div id="info"></div>
    </div>

  </section>

  <script type="text/javascript">
    (function() {
      var query = window.location.search.substring(1).split('&').reduce(function(memo, pair) {
        pair = pair.split('=');
        memo[pair[0]] = pair[1];
        return memo;
      }, {});

      if (query.gist) {
        $('.bookmarklet .label').text("Loading...");
        $('.intro').hide();
        $.ajax('https://api.github.com/gists/' + query.gist, {
          dataType: 'jsonp', 
          success: function(responseData) {
            if (responseData.meta.status === 200) {
              createBookmarklet(responseData);
            }
            else {
              showError(responseData);
            }
          }
        });
      }
      else {
        $('.bookmarklet').hide();
      }

      function createBookmarklet(responseData) {
        var description = responseData.data.description || '',
            files = responseData.data.files,
            fileName = query.file,
            user = responseData.data.owner,
            user_avatar_url = user ? user.avatar_url : '',
            user_html_url = user ? user.html_url : '',
            user_login = user ? user.login : '',
            fileHashParam, href, fileNameParts, plainFileName;

        // take first file if none defined
        if (!fileName) {
          for (var key in files) { 
            if (files.hasOwnProperty(key)) {
              fileName = key;
              break;
            } 
          }
        }

        fileNameParts = fileName.split('.');
        if (fileNameParts.length > 1) {
          fileNameParts = fileNameParts.slice(0,-1);
        }
        plainFileName = fileNameParts.join('.');

        fileHashParam = 'file-'+fileName.replace(/[\s\.]/g, '-').toLowerCase();

        $('#bookmarklet-btn .label').text(plainFileName);
        $('#bookmarklet-btn').attr('href', bookmarkletSrc(query.gist, plainFileName));
        $('.bookmarklet .hint').text("Drag to your bookmarks bar");

        $('#info').append($(
          '<img src="'+user_avatar_url+'" width="26" height="26">' +
          '<a href="'+user_html_url+'">'+user_login+'</a> / ' +
          '<a href="'+responseData.data.html_url+'#'+fileHashParam+'"><strong>gist:'+query.gist+'</strong></a>'
        ));

        $('#description').text(description);
      }


      var bookmarkletModuleSrc = "<%= makeBookmarklet('src/bookmarklet_raw.js') %>";

      function addParamsToBookmarkletSrc(src, gistId, fileName) {
        return src.replace('__GISTID__', gistId)
          .replace('__FILENAME__', fileName);
      }

      function bookmarkletSrc(gistId, fileName) {
        return 'javascript:' + addParamsToBookmarkletSrc(bookmarkletModuleSrc, gistId, fileName);
      }

      function showError(responseData) {
        $('#bookmarklet-btn .label').text(responseData.data.message);
        $('#bookmarklet-btn').addClass('error');
        $('.hint').hide();
      }
    })();
  </script>

</body>
</html>
